In [ ]:
import pandas as pd

# import pandas lib as pd
import pandas as pd


required_df = pd.read_excel('SampleWork2.xlsx', usecols = require_cols)

print(required_df)

Creating a Pandas DataFrame

In [3]:
# Python code demonstrate creating
# DataFrame from dict narray / lists
# By default addresses.

import pandas as pd

# initialise data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]}

# Create DataFrame
df = pd.DataFrame(data)

# Print the output.
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

Get row count and column count

In [4]:

row_count, col_count = df.shape

print("Number of Rows:", row_count)
print("Number of Columns:", col_count)

Number of Rows: 4
Number of Columns: 2

data attribute

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [10]:
df.head()
df.tail
df.isnull()
df.describe()

             Age        Salary
count   5.000000      2.000000
mean   23.000000  65000.000000
std    13.397761   7071.067812
min     0.000000  60000.000000
25%    25.000000  62500.000000
50%    27.000000  65000.000000
75%    28.000000  67500.000000
max    35.000000  70000.000000

Dealing with Rows and Columns in Pandas DataFrame

In [11]:
# Import pandas package
import pandas as pd

# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
		'Age':[27, 24, 22, 32],
		#'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
		'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# select two columns
print(df[['Name', 'Qualification']])

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

adding new col

In [12]:
# Declare a list that is to be converted into a column
df['Address'] = ['Delhi', 'Bangalore', 'Chennai', 'Patna']


print(df)

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24  Bangalore            MA
2  Gaurav   22    Chennai           MCA
3    Anuj   32      Patna           Phd

drop col

In [ ]:
df.drop(["Team", "Weight"], axis = 1, inplace = True)

# display
print(data)

within col operation

In [13]:
# Import necessary library
import pandas as pd

# Creating a sample DataFrame
data = {'Value1': [2, 4, 6, 8],
        'Value2': [1, 3, 5, 7]}

df = pd.DataFrame(data)

# Multiply two columns element-wise and add the result as a new column
df['Result'] = df['Value1'] * df['Value2'] + df['Value1']

# Display the updated DataFrame
print(df)

   Value1  Value2  Result
0       2       1       4
1       4       3      16
2       6       5      36
3       8       7      64

How to get column names in Pandas dataframe

In [14]:
df.columns

Index(['Value1', 'Value2', 'Result'], dtype='object')

Rename col

In [15]:
df.rename(columns = {'Value1':'TEST', 'Value2':'ODI',
                              'Value3':'T20'}, inplace = True)
df

   TEST  ODI  Result
0     2    1       4
1     4    3      16
2     6    5      36
3     8    7      64

drop row & col

In [16]:
# Import necessary library
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['John', 'Alice', 'Bob', 'Eve'],
        'Age': [25, 30, 22, 28],
        'Salary': [50000, 60000, 45000, 55000]}

df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Drop a specific row by index (e.g., index 1)
df = df.drop(1) #df = df.drop(range(1, 4))

# Drop a specific column by name (e.g., 'Age')
df = df.drop('Age', axis=1)

# Display the DataFrame after dropping a row and a column
print("\nDataFrame after dropping a row and a column:")
print(df)

Original DataFrame:
    Name  Age  Salary
0   John   25   50000
1  Alice   30   60000
2    Bob   22   45000
3    Eve   28   55000

DataFrame after dropping a row and a column:
   Name  Salary
0  John   50000
2   Bob   45000
3   Eve   55000

Grouping data

In [17]:
# importing pandas module
import pandas as pd

# Define a dictionary containing employee data
data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi',
				'Gaurav', 'Anuj', 'Princi', 'Abhi'],
		'Age':[27, 24, 22, 32,
			33, 36, 27, 32], }


# Convert the dictionary into DataFrame
df = pd.DataFrame(data1)

print(df)

     Name  Age
0     Jai   27
1    Anuj   24
2     Jai   22
3  Princi   32
4  Gaurav   33
5    Anuj   36
6  Princi   27
7    Abhi   32

In [18]:
# using groupby function
# without using sort

df.groupby(['Name']).sum()
# using groupby function
# with sort

df.groupby(['Name'], sort = False).sum()

        Age
Name
Abhi     32
Anuj     60
Gaurav   33
Jai      49
Princi   59

group by condition

In [2]:
import pandas as pd

# Create a sample DataFrame
data = {'Product': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'A'],
        'Sales': [100, 150, 200, 50, 120, 80, 180, 250],
        'Category': ['X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'X']}

df = pd.DataFrame(data)

# One-liner: Filter data and then group by 'Product' to calculate total sales
result = df[df['Category'] == 'X'].groupby('Product')['Sales'].sum().reset_index()

print(result)

  Product  Sales
0       A    850


In Pandas, merging, joining, and concatenating are operations used to combine multiple DataFrames. Here's an overview of each operation:

Merging:
Merging involves combining two DataFrames based on a common column or index. The merge function is used for this purpose

In [3]:
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({'Key': ['A', 'B', 'C'], 'Value': [1, 2, 3]})
df2 = pd.DataFrame({'Key': ['A', 'B', 'D'], 'Value': [4, 5, 6]})

# Merge based on the 'Key' column
merged_df = pd.merge(df1, df2, on='Key', how='inner')

print(merged_df)

  Key  Value_x  Value_y
0   A        1        4
1   B        2        5

Joining:
Joining is similar to merging but is specifically used for combining DataFrames based on their indices. The join method is used for this.

In [4]:
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({'Value1': [1, 2, 3]}, index=['A', 'B', 'C'])
df2 = pd.DataFrame({'Value2': [4, 5, 6]}, index=['A', 'B', 'D'])

# Join based on indices
joined_df = df1.join(df2, how='inner')

print(joined_df)

   Value1  Value2
A       1       4
B       2       5

Concatenating is used to combine DataFrames along a particular axis (either rows or columns). The concat function is used for this.

In [5]:
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Concatenate along rows (axis=0)
concatenated_df = pd.concat([df1, df2], axis=0)

print(concatenated_df)

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

In [6]:
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Concatenate along col (axis=0)
concatenated_df = pd.concat([df1, df2], axis=1)

print(concatenated_df)

   A  B  A  B
0  1  3  5  7
1  2  4  6  8